<main>
<section class="feature">
    <%= image_tag "drone.png", width:430, height:240 %>
    <h1><button id="start-btn", class="time_record-button">スタート</button></h1>
    <h1><button id="stop-btn", class="time_record-button">ストップ</button></h1>
</section>
</main>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var startBtn = document.getElementById('start-btn');
    var stopBtn = document.getElementById('stop-btn');
    var studyRecordId;

    startBtn.addEventListener('click', function() {
      fetch('/study_records/start', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('[name="csrf-token"]').content
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          studyRecordId = data.study_record_id;
          startBtn.style.display = 'none';
          stopBtn.style.display = 'inline';
        }
      });
    });

    stopBtn.addEventListener('click', function() {
      fetch(`/study_records/${studyRecordId}/stop`, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('[name="csrf-token"]').content
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          stopBtn.style.display = 'none';
          startBtn.style.display = 'inline';
          alert('おつかれさま！！'); 
        } else {
          alert('時間測定に失敗しました。');
        }
      });
    });
  });
</script>