<main>
<section class="feature">
    <%= image_tag "drone.png", width:430, height:240 %>
    <h1><button id="start-btn", class="time_record-button">スタート</button></h1>
    <h1><button id="stop-btn", class="time_record-button">ストップ</button></h1>
</section>
</main>
