<body>

  <div class="wrapper">
  <ul class="tab">
    <li><a href="#daily">日</a></li>
    <li><a href="#weekly">週</a></li>
  </ul>

    <div id="daily" class="area">

<canvas id="studyTimeChart" width="800" height="400"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
<script>
window.onload = function () {
  var ctx = document.getElementById('studyTimeChart').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: <%= @daily_totals.keys.map { |date| date.strftime("%Y-%m-%d") }.to_json.html_safe %>,
      datasets: [{
        label: '勉強時間',
        data: <%= @daily_totals.values.to_json.html_safe %>,
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          ticks: {
            stepSize: 7200,  // 5 hours in seconds
            callback: function(value) {
              var hours = Math.floor(value / 3600);
              var minutes = Math.floor((value % 3600) / 60);
              var seconds = value % 60;
              return `${hours}時間${minutes}分${seconds}秒`;
            }
          }
        }
      },
      plugins: {
        tooltip: {
          callbacks: {
            label: function(context) {
              var totalSeconds = context.parsed.y;
              var hours = Math.floor(totalSeconds / 3600);
              var minutes = Math.floor((totalSeconds % 3600) / 60);
              var seconds = totalSeconds % 60;
              return context.dataset.label + ': ' + hours + '時間 ' + minutes + '分 ' + seconds + '秒';
            }
          }
        }
      }
    }
  });
});
</script>
    <!--/area--></div>
    <div id="weekly" class="area">
      <h2>ドリンク</h2>
      <ul>
        <li>ウーロン茶</li>
        <li>オレンジジュース</li>
        <li>ジンジャーエール</li>
      </ul>
    <!--/area--></div>
<!--wrapper--></div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-4-1/js/5-4-1.js"></script>
</body>