<body>

  <div class="wrapper">
  <ul class="tab">
    <li><a href="#daily">日</a></li>
    <li><a href="#weekly">週</a></li>
  </ul>

    <div id="daily" class="area">

<canvas id="studyTimeChart" width="800" height="400"></canvas>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-4-1/js/5-4-1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
<script src="chart-setup.js" defer></script>
    <!--/area--></div>
    <div id="weekly" class="area">
      <h2>ドリンク</h2>
      <ul>
        <li>ウーロン茶</li>
        <li>オレンジジュース</li>
        <li>ジンジャーエール</li>
      </ul>
    <!--/area--></div>
<!--wrapper--></div>

</body>