<header>
<div class="header">
    <div><%= user.name %></div>
    <div class="logo"><%= link_to 'Lock In Study', root_path %></div>
    <div class="login"><%= link_to 'ログイン/会員登録', '/login' %></div>
</div>
</header>