<footer>
    <div class="footer">
        <div class="terms"><%= link_to '利用規約', '#' %></div>
        <div class="privacy"><%= link_to 'プライバシーポリシー', '#' %></div>
        <div class="contact"><%= link_to 'お問い合わせ', '#' %></div>
        <div id="page-top"><a href="#">Page Top</a></div>
    </div>
</footer>
