<footer>
    <div class="footer">
      <div class="terms"><%= link_to '利用規約', '#', class: "unimplement" %></div>
      <div class="privacy"><%= link_to 'プライバシーポリシー', '#', class: "unimplement" %></div>
      <div class="contact"><%= link_to 'お問い合わせ', '#', class: "unimplement" %></div>
      <div id="page-top"><a href="#">Page Top</a></div>
    </div>
</footer>