<div class="main-content">
  <%= image_tag "drone.png", width:430, height:240 %>
    <h1>あなたが集中して勉強出来るように<br>サポートします</h1>
    <button class="try-button"><%= link_to '使ってみる', study_records_path %></button>
    <div class="explanation">説明</div>
    <button class="try-button"><%= link_to '使ってみる', study_records_path %></button>
</div>