<div class="main-content">
  <%= image_tag "drone", width:360, height:240 %>
    <h1>あなたが集中して勉強出来るように<br>サポートします</h1>
    <button class="try-button"><%= link_to '使ってみる', '#' %></button>
    <div class="explanation">説明</div>
    <button class="try-button"><%= link_to '使ってみる', '#' %></button>
</div>