/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* flash */
 #flash {
  padding-top: 85px;
  text-align: center;
  font-size: large;
  font-weight: bold;
 }

 /* header footer */
.header, .footer {
  background: #5fd7df;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header a, .footer a, .main-content a {
  color: black;
  text-decoration: none;
}

.header a:hover, .footer a:hover, .main-content a:hover {
  text-decoration: underline;
}

.logo, .login {
  margin: 0 20px;
  font-weight: 800;
  font-size: 24px;
}

/* after_login_header */
.navigation a{
  padding: 0 12px;
  font-size: 18px;
}

/* footer */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  justify-content: space-evenly;
}

.terms, .privacy, .contact {
  font-weight: 80;
  font-size: 24px;
}

#page-top a{
  background:#942D2F;
  color:#fff;
  text-align: center;
  display: block;
  text-decoration: none;
  padding:20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8rem;
  transition: all 0.3s;
}

#page-top a:hover{
  background: #777;
}

/* Top */
.main-content {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

h1 {
  font-weight: 800;
  font-size: 24px;
}

.try-button {
  background: #D9D9D9;
  border: none;
  padding: 10px 20px;
  font-weight: 800;
  font-size: 24px;
  margin: 20px 20px;
}

.explanation {
  background: #D9D9D9;
  height: 900px;
  width: 80%;
  margin: 20px auto;
}

/* login */
.login-content {
  padding-top: 45%;
  text-align: center;
}

.login-button {
  background-color: #00c300;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin-top: 6px 4px;
  cursor: pointer;
  border-radius: 4px;
}

.login-button:hover {
  background-color: #00e000;
}

/* measuring-page */
.feature {
  text-align: center;
  padding-top: 300px;
  padding-bottom: 100px;
}

.feature .start-button {
  background-color: #D9D9D9;
  padding: 50px 80px;
  font-weight: 800;
  /* font-size: 24px; */
  color: black;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.feature .start-button:hover {
  text-decoration: underline;
}

.feature h1 {
  margin-top: -6px;
}