@import 'error';

#flash {
  padding-top: 85px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

 /* header footer */
.header, .footer {
  background: #5fd7df;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header a, .footer a, .main-content a {
  color: black;
  text-decoration: none;
}

.header a:hover, .footer a:hover, .main-content a:hover {
  text-decoration: underline;
}

.logo, .login {
  margin: 0 20px;
  font-weight: 800;
  font-size: 24px;
}

.guest-notice {
  color: #942D2F;
  font-size: 18px;
  font-weight: 800;
}

/* after_login_header */
.navigation a{
  padding: 0 12px;
  font-size: 18px;
}

/* footer */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  justify-content: space-evenly;
}

.terms, .privacy, .contact {
  font-weight: 80;
  font-size: 24px;
}

#page-top a{
  background:#942D2F;
  color:#fff;
  text-align: center;
  display: block;
  text-decoration: none;
  padding:20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8rem;
  transition: all 0.3s;
}

#page-top a:hover{
  background: #777;
}

/* Top */
.main-content {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

h1 {
  font-weight: 800;
  font-size: 24px;
}

.try-button {
  background: #D9D9D9;
  border: none;
  padding: 10px 20px;
  font-weight: 800;
  font-size: 24px;
  margin: 20px 20px;
}

.try-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.explanation {
  background-color: #E2EDF9;
  width: 80%;
  margin: 20px auto;
}

.explanation h3 {
  font-size: x-large;
  border: solid, 6px;
}
.explanation p {
  font-size: large;
}

/* login */
.login-content {
  padding-top: 20%;
  text-align: center;
}

.login-button {
  background-color: #00c300;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin-top: 6px 4px;
  cursor: pointer;
  border-radius: 4px;
}

.login-button:hover {
  background-color: #00e000;
}

/* study_record-page */
.feature {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

#study_record {
  margin-bottom: 120px;
  font-size: x-large;
}

.feature .time_record-button {
  background-color: #D9D9D9;
  padding: 50px 80px;
  font-weight: 800;
  /* font-size: 24px; */
  color: black;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.feature .time_record-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.feature h1 {
  margin-top: -6px;
}

#stop-btn {
  display: none;
}

    /* recording_drone */
.animate-img_box {
  animation: drone_fuwafuwa 3s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes drone_fuwafuwa {
  0% { transform: translateY(0); }
  33.33333% { transform: translateY(-30px); }
  66.66667% { transform: translateY(0); }
  100% { transform: translateY(0); }
}


/* 質問フォーム */
#question_box {
  margin-bottom: 120px;
  font-size: x-large;
}

.form-submit {
  cursor: pointer;
  padding: 6px 12px;
  font-size: medium;
  margin-left: 24px;
}

  /* first-question */
.form-radio-btn {
  display: none;
}

.form-radio {
margin: 12px;
padding:6px 12px;
color: #31A9EE;
text-align: center;
line-height: 45px;
cursor: pointer;
border: 2px solid #D9D9D9;
border-radius: 5px;
}

.form-radio:hover {
  background-color: #E2EDF9;
}

.form-radio-btn:checked + .form-radio {
  background-color: #31A9EE;
  color: #fff;
}

  /* second,third-question */
.answer-form {
  font-size: x-large;
}

/* study_time_index */
/*tabの形状*/
.tab{
  display: flex;
  flex-wrap: wrap;
}
.tab li a{
  display: block;
  background:#ddd;
  margin:0 2px;
  padding:10px 20px;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
  background:#5fd7df;
}


/*エリアの表示非表示と形状*/
.area {
  display: none;/*はじめは非表示*/
  opacity: 0;/*透過0*/
  background: #fff;
  padding:50px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/*========= レイアウトのためのCSS ===============*/

body{
  padding-top: 150px;
}

ul{
  list-style:none;
}

a{
  color:#333;
  text-decoration: none;
}

.wrapper{
  width:100%;
  max-width: 960px;
  margin:30px auto;
  margin-bottom: 100px;
  background:#fefefe;
}

.area h2{
  font-size:1.3rem;
  margin:0 0 20px 10px;
}

.area li{
  padding: 10px; 
  border-bottom: 1px solid #ddd;
}

/* answer_index.index */

.answers {
  width: 60%;
  margin: 20px auto;
  margin-bottom: 150px;
}

.answer {
  margin-bottom: 10px;
  border-bottom: solid 2px #333;
}

.answer h4 {
  margin: 0 0 5px;
  color: #333;
}

.answer ul {
  list-style: none;
  padding: 0;
}

.answer li {
  background-color: #f8f8f8;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 2px;
}

/* privacy, terms_of_service */
.privacy_wrapper h1, .terms_wrapper h1 {
  text-align: center;
}

.privacy_wrapper {
  width: 80%;
  max-width: 960px;
  margin:30px auto;
  margin-bottom: 140px;
  background:#fefefe;
}

.inquiry_button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.terms_wrapper {
  width: 80%;
  max-width: 960px;
  margin:30px auto;
  margin-bottom: 140px;
  background:#fefefe;
}