<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "ERROR" %></title>
  <%= stylesheet_link_tag 'error', media: 'all' %>
</head>
<body class="error_body">
  <!-- エラーメッセージやユーザーへの指示を含むページ固有のコンテンツ -->
  <%= yield %>
  <p class="top-page-link"><a href="/">ホームに戻る</a></p>
</body>
</html>
